@import "./../../styles/tools.scss";
@import "./../../styles/palette.scss";
@import "./../../styles/variables.scss";

.progress {
  padding-top: spacing(2);
  background-color: $background-secondary;
}

.heading {
  @include screen-reader-only();
}

.meters {
  max-width: $max-content-width-narrow;
  width: 100%;
}

@include mobile {
  .progress {
    padding-right: 0;
    padding-left: 0;
  }
}
