@import "./normalize.css";
@import "./skeleton.scss";

@import "./typography.scss";

body,
html {
  overflow-x: hidden;
  min-width: 320px;
  width: 100%;
}

body {
  //   min-width: 480px;
}

button,
a {
  &:focus {
    outline: 2px solid orange !important;
  }
}

*:focus {
  outline: 0;
}
