@import "./normalize.css";
@import "./skeleton.scss";

@import "./typography.scss";
@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css";

body,
html {
  min-width: 320px;
  width: 100%;

  scroll-snap-type: y proximity;
}

body {
  //   min-width: 480px;
}

button,
a {
  &:focus {
    outline: 2px solid orange !important;
  }
}

*:focus {
  outline: 0;
}
