$primary: #002C5C;
$body-text: #000435;
$body-text-secondary: #5E5F6F;
$background-primary: white;
$background-secondary: #ECF5F6;
$background-tertiary: #FDECE4;
$background-quaternary: #FFDF7F;
$background-penternary: #F2F2F2;
$accent-1: #EE7963;
$accent-2: #4AA1AF;
$button-secondary: #DDE3E9;
