$primary: #002c5c;
$body-text: #000435;
$body-text-secondary: #5e5f6f;
$background-primary: white;
$background-secondary: #ecf5f6;
$background-tertiary: #fdece4;
$background-quaternary: #ffdf7f;
$background-penternary: #f2f2f2;
$accent-1: #ee6652;
$accent-2: #4aa1af;
$button-secondary: #dde3e9;
