/*! skeleton-framework | 1.1.1 | MIT | 2/5/2020 */
/* Table of contents
- Base Styles
- Grid
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

@import "./palette.scss";

html {
  box-sizing: border-box;
  font-size: 1em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: $body-text;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Avenir Next", "Nunito Sans", Arial, sans-serif;
  line-height: 1.6rem;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  max-width: 1200px;
  width: 100%;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
}

.row {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row::before,
.row::after {
  display: table;
  content: " ";
}

.row::after {
  clear: both;
}

[class*="column"] {
  float: left;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  min-height: 1px;
  width: 100%;
}

.xs-one[class*="column"] {
  width: 8.3333333333%;
}

.xs-two[class*="column"] {
  width: 16.6666666666%;
}

.xs-three[class*="column"],
.xs-one-quarter[class*="column"] {
  width: 24.9999999999%;
}

.xs-four[class*="column"],
.xs-one-third[class*="column"] {
  width: 33.3333333332%;
}

.xs-five[class*="column"] {
  width: 41.6666666665%;
}

.xs-six[class*="column"],
.xs-one-half[class*="column"] {
  width: 49.9999999998%;
}

.xs-seven[class*="column"] {
  width: 58.3333333331%;
}

.xs-eight[class*="column"],
.xs-two-thirds[class*="column"] {
  width: 66.6666666664%;
}

.xs-nine[class*="column"] {
  width: 74.9999999997%;
}

.xs-ten[class*="column"] {
  width: 83.333333333%;
}

.xs-eleven[class*="column"] {
  width: 91.6666666663%;
}

.xs-twelve[class*="column"] {
  width: 99.9999999996%;
}

[class*="xs-"][class*="column"] ~ [class*="xs-"][class*="column"] {
  margin-top: 0;
}

@media screen and (min-width: 560px) {
  [class*="column"] ~ [class*="column"] {
    margin-top: 0;
  }
  .one[class*="column"] {
    width: 8.3333333333%;
  }
  .two[class*="column"] {
    width: 16.6666666666%;
  }
  .three[class*="column"],
  .one-quarter[class*="column"] {
    width: 24.9999999999%;
  }
  .four[class*="column"],
  .one-third[class*="column"] {
    width: 33.3333333332%;
  }
  .five[class*="column"] {
    width: 41.6666666665%;
  }
  .six[class*="column"],
  .one-half[class*="column"] {
    width: 49.9999999998%;
  }
  .seven[class*="column"] {
    width: 58.3333333331%;
  }
  .eight[class*="column"],
  .two-thirds[class*="column"] {
    width: 66.6666666664%;
  }
  .nine[class*="column"] {
    width: 74.9999999997%;
  }
  .ten[class*="column"] {
    width: 83.333333333%;
  }
  .eleven[class*="column"] {
    width: 91.6666666663%;
  }
  .twelve[class*="column"] {
    width: 99.9999999996%;
  }
  .offset-by-one[class*="column"] {
    margin-left: 8.3333333333%;
  }
  .offset-by-two[class*="column"] {
    margin-left: 16.6666666666%;
  }
  .offset-by-three[class*="column"],
  .offset-by-one-quarter[class*="column"] {
    margin-left: 24.9999999999%;
  }
  .offset-by-four[class*="column"],
  .offset-by-one-third[class*="column"] {
    margin-left: 33.3333333332%;
  }
  .offset-by-five[class*="column"] {
    margin-left: 41.6666666665%;
  }
  .offset-by-six[class*="column"],
  .offset-by-one-half[class*="column"] {
    margin-left: 49.9999999998%;
  }
  .offset-by-seven[class*="column"] {
    margin-left: 58.3333333331%;
  }
  .offset-by-eight[class*="column"],
  .offset-by-two-thirds[class*="column"] {
    margin-left: 66.6666666664%;
  }
  .offset-by-nine[class*="column"] {
    margin-left: 74.9999999997%;
  }
  .offset-by-ten[class*="column"] {
    margin-left: 83.333333333%;
  }
  .offset-by-eleven[class*="column"] {
    margin-left: 91.6666666663%;
  }
  .sm-one[class*="column"] {
    width: 8.3333333333%;
  }
  .sm-two[class*="column"] {
    width: 16.6666666666%;
  }
  .sm-three[class*="column"],
  .sm-one-quarter[class*="column"] {
    width: 24.9999999999%;
  }
  .sm-four[class*="column"],
  .sm-one-third[class*="column"] {
    width: 33.3333333332%;
  }
  .sm-five[class*="column"] {
    width: 41.6666666665%;
  }
  .sm-six[class*="column"],
  .sm-one-half[class*="column"] {
    width: 49.9999999998%;
  }
  .sm-seven[class*="column"] {
    width: 58.3333333331%;
  }
  .sm-eight[class*="column"],
  .sm-two-thirds[class*="column"] {
    width: 66.6666666664%;
  }
  .sm-nine[class*="column"] {
    width: 74.9999999997%;
  }
  .sm-ten[class*="column"] {
    width: 83.333333333%;
  }
  .sm-eleven[class*="column"] {
    width: 91.6666666663%;
  }
  .sm-twelve[class*="column"] {
    width: 99.9999999996%;
  }
  .sm-offset-by-one[class*="column"] {
    margin-left: 8.3333333333%;
  }
  .sm-offset-by-two[class*="column"] {
    margin-left: 16.6666666666%;
  }
  .sm-offset-by-three[class*="column"],
  .sm-offset-by-one-quarter[class*="column"] {
    margin-left: 24.9999999999%;
  }
  .sm-offset-by-four[class*="column"],
  .sm-offset-by-one-third[class*="column"] {
    margin-left: 33.3333333332%;
  }
  .sm-offset-by-five[class*="column"] {
    margin-left: 41.6666666665%;
  }
  .sm-offset-by-six[class*="column"],
  .sm-offset-by-one-half[class*="column"] {
    margin-left: 49.9999999998%;
  }
  .sm-offset-by-seven[class*="column"] {
    margin-left: 58.3333333331%;
  }
  .sm-offset-by-eight[class*="column"],
  .sm-offset-by-two-thirds[class*="column"] {
    margin-left: 66.6666666664%;
  }
  .sm-offset-by-nine[class*="column"] {
    margin-left: 74.9999999997%;
  }
  .sm-offset-by-ten[class*="column"] {
    margin-left: 83.333333333%;
  }
  .sm-offset-by-eleven[class*="column"] {
    margin-left: 91.6666666663%;
  }
}

@media screen and (min-width: 720px) {
  .md-one[class*="column"] {
    width: 8.3333333333%;
  }
  .md-two[class*="column"] {
    width: 16.6666666666%;
  }
  .md-three[class*="column"],
  .md-one-quarter[class*="column"] {
    width: 24.9999999999%;
  }
  .md-four[class*="column"],
  .md-one-third[class*="column"] {
    width: 33.3333333332%;
  }
  .md-five[class*="column"] {
    width: 41.6666666665%;
  }
  .md-six[class*="column"],
  .md-one-half[class*="column"] {
    width: 49.9999999998%;
  }
  .md-seven[class*="column"] {
    width: 58.3333333331%;
  }
  .md-eight[class*="column"],
  .md-two-thirds[class*="column"] {
    width: 66.6666666664%;
  }
  .md-nine[class*="column"] {
    width: 74.9999999997%;
  }
  .md-ten[class*="column"] {
    width: 83.333333333%;
  }
  .md-eleven[class*="column"] {
    width: 91.6666666663%;
  }
  .md-twelve[class*="column"] {
    width: 99.9999999996%;
  }
  .md-offset-by-one[class*="column"] {
    margin-left: 8.3333333333%;
  }
  .md-offset-by-two[class*="column"] {
    margin-left: 16.6666666666%;
  }
  .md-offset-by-three[class*="column"],
  .md-offset-by-one-quarter[class*="column"] {
    margin-left: 24.9999999999%;
  }
  .md-offset-by-four[class*="column"],
  .md-offset-by-one-third[class*="column"] {
    margin-left: 33.3333333332%;
  }
  .md-offset-by-five[class*="column"] {
    margin-left: 41.6666666665%;
  }
  .md-offset-by-six[class*="column"],
  .md-offset-by-one-half[class*="column"] {
    margin-left: 49.9999999998%;
  }
  .md-offset-by-seven[class*="column"] {
    margin-left: 58.3333333331%;
  }
  .md-offset-by-eight[class*="column"],
  .md-offset-by-two-thirds[class*="column"] {
    margin-left: 66.6666666664%;
  }
  .md-offset-by-nine[class*="column"] {
    margin-left: 74.9999999997%;
  }
  .md-offset-by-ten[class*="column"] {
    margin-left: 83.333333333%;
  }
  .md-offset-by-eleven[class*="column"] {
    margin-left: 91.6666666663%;
  }
}

@media screen and (min-width: 960px) {
  .lg-one[class*="column"] {
    width: 8.3333333333%;
  }
  .lg-two[class*="column"] {
    width: 16.6666666666%;
  }
  .lg-three[class*="column"],
  .lg-one-quarter[class*="column"] {
    width: 24.9999999999%;
  }
  .lg-four[class*="column"],
  .lg-one-third[class*="column"] {
    width: 33.3333333332%;
  }
  .lg-five[class*="column"] {
    width: 41.6666666665%;
  }
  .lg-six[class*="column"],
  .lg-one-half[class*="column"] {
    width: 49.9999999998%;
  }
  .lg-seven[class*="column"] {
    width: 58.3333333331%;
  }
  .lg-eight[class*="column"],
  .lg-two-thirds[class*="column"] {
    width: 66.6666666664%;
  }
  .lg-nine[class*="column"] {
    width: 74.9999999997%;
  }
  .lg-ten[class*="column"] {
    width: 83.333333333%;
  }
  .lg-eleven[class*="column"] {
    width: 91.6666666663%;
  }
  .lg-twelve[class*="column"] {
    width: 99.9999999996%;
  }
  .lg-offset-by-one[class*="column"] {
    margin-left: 8.3333333333%;
  }
  .lg-offset-by-two[class*="column"] {
    margin-left: 16.6666666666%;
  }
  .lg-offset-by-three[class*="column"],
  .lg-offset-by-one-quarter[class*="column"] {
    margin-left: 24.9999999999%;
  }
  .lg-offset-by-four[class*="column"],
  .lg-offset-by-one-third[class*="column"] {
    margin-left: 33.3333333332%;
  }
  .lg-offset-by-five[class*="column"] {
    margin-left: 41.6666666665%;
  }
  .lg-offset-by-six[class*="column"],
  .lg-offset-by-one-half[class*="column"] {
    margin-left: 49.9999999998%;
  }
  .lg-offset-by-seven[class*="column"] {
    margin-left: 58.3333333331%;
  }
  .lg-offset-by-eight[class*="column"],
  .lg-offset-by-two-thirds[class*="column"] {
    margin-left: 66.6666666664%;
  }
  .lg-offset-by-nine[class*="column"] {
    margin-left: 74.9999999997%;
  }
  .lg-offset-by-ten[class*="column"] {
    margin-left: 83.333333333%;
  }
  .lg-offset-by-eleven[class*="column"] {
    margin-left: 91.6666666663%;
  }
}

/* Base Typo
 ------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  letter-spacing: -0.1rem;
  font-size: 3.6rem;
  line-height: 1.2;
}

h2 {
  letter-spacing: -0.1rem;
  font-size: 3.0rem;
  line-height: 1.25;
}

h3 {
  letter-spacing: -0.1rem;
  font-size: 2.4rem;
  line-height: 1.3;
}

h4 {
  letter-spacing: -0.08rem;
  font-size: 1.8rem;
  line-height: 1.35;
}

h5 {
  letter-spacing: -0.05rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

h6 {
  letter-spacing: 0;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Larger than phablet */

@media (min-width: 560px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 3.0rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.2rem;
  }
}

p {
  margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: $body-text;
}

a:hover {
  color: lighten($body-text, 10%);
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.text-primary {
  color: $primary;
}

.text-success {
  color: #2ECC71;
}

.text-danger {
  color: #E74C3C;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 0 1.9rem;
  height: 2.5rem;
  border: 0;
  border-radius: 4px;
  background-color: $button-secondary;
  color: $body-text;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2.5rem;
  cursor: pointer;
  transition: border 0.2s;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
  border-color: #888888;
  color: #333333;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border-color: $body-text;
  color: $body-text;
}

.button:disabled,
.button:disabled:hover,
button[disabled],
.button[disabled],
.button-primary[disabled],
.button-success[disabled],
.button-danger[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  border: 1px solid #E3E3E3;
  color: #888888;
  cursor: not-allowed;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  border: 1px solid $primary;
  background-color: $primary;
  color: #FFFFFF;
  transition: background-color 0.2s;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  border-color: lighten($primary, 10%);
  background-color: lighten($primary, 10%);
  color: #FFFFFF;
}

.button.button-primary:active,
button.button-primary:active,
input[type="submit"].button-primary:active,
input[type="reset"].button-primary:active,
input[type="button"].button-primary:active {
  border-color: lighten($primary, 15%);
  background-color: lighten($primary, 15%);
  color: #FFFFFF;
}

.button.button-primary:disabled,
button.button-primary:disabled,
input[type="submit"].button-primary:disabled,
input[type="reset"].button-primary:disabled,
input[type="button"].button-primary:disabled {
  border-color: #7CD9F8;
  background-color: #7CD9F8;
  color: #FFFFFF;
  cursor: not-allowed;
}

.button.button-success,
button.button-success,
input[type="submit"].button-success,
input[type="reset"].button-success,
input[type="button"].button-success {
  border: 1px solid #2ECC71;
  background-color: #2ECC71;
  color: #FFFFFF;
  transition: background-color 0.2s;
}

.button.button-success:hover,
button.button-success:hover,
input[type="submit"].button-success:hover,
input[type="reset"].button-success:hover,
input[type="button"].button-success:hover,
.button.button-success:focus,
button.button-success:focus,
input[type="submit"].button-success:focus,
input[type="reset"].button-success:focus,
input[type="button"].button-success:focus {
  border-color: #27AE60;
  background-color: #27AE60;
  color: #FFFFFF;
}

.button.button-success:active,
button.button-success:active,
input[type="submit"].button-success:active,
input[type="reset"].button-success:active,
input[type="button"].button-success:active {
  border-color: #2ECC71;
  background-color: #2ECC71;
  color: #FFFFFF;
}

.button.button-success:disabled,
button.button-success:disabled,
input[type="submit"].button-success:disabled,
input[type="reset"].button-success:disabled,
input[type="button"].button-success:disabled {
  border-color: #82E3AA;
  background-color: #82E3AA;
  color: #FFFFFF;
  cursor: not-allowed;
}

.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger {
  border: 1px solid #E74C3C;
  background-color: #E74C3C;
  color: #FFFFFF;
  transition: background-color 0.2s;
}

.button.button-danger:hover,
button.button-danger:hover,
input[type="submit"].button-danger:hover,
input[type="reset"].button-danger:hover,
input[type="button"].button-danger:hover,
.button.button-danger:focus,
button.button-danger:focus,
input[type="submit"].button-danger:focus,
input[type="reset"].button-danger:focus,
input[type="button"].button-danger:focus {
  border-color: #C0392B;
  background-color: #C0392B;
  color: #FFFFFF;
}

.button.button-danger:active,
button.button-danger:active,
input[type="submit"].button-danger:active,
input[type="reset"].button-danger:active,
input[type="button"].button-danger:active {
  border-color: #E74C3C;
  background-color: #E74C3C;
  color: #FFFFFF;
}

.button.button-danger:disabled,
button.button-danger:disabled,
input[type="submit"].button-danger:disabled,
input[type="reset"].button-danger:disabled,
input[type="button"].button-danger:disabled {
  border-color: #EE8377;
  background-color: #EE8377;
  color: #FFFFFF;
  cursor: not-allowed;
}

input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 0.4rem 0.6rem;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: none;
  transition: border 0.2s;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
select:not([size]),
textarea:not([rows]) {
  height: 2.5rem;
}

/* Removes awkward default styles on some inputs for iOS */

input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  min-height: 4rem;
  resize: vertical;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: 0;
  border: 1px solid $primary;
}

.has-error,
.has-error:focus {
  outline: 0;
  border: 1px solid #E74C3C !important;
}

.has-success,
.has-success:focus {
  outline: 0;
  border: 1px solid #2ECC71 !important;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  margin-top: 0;
  padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

/* Cards */

.card {
  margin-bottom: 1rem;
  padding: 15px 25px;
  min-height: 160px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #E1E1E1;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
  margin-bottom: 1.2rem;
}

a.card {
  display: block;
  color: #757575;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s, border-color 0.3s;
}

a.card:hover,
a.card:active {
  border-color: #8A8A8A;
  color: black;
  transform: translateX(-2px) translateY(-2px);
}

code {
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  background: #F1F1F1;
  white-space: nowrap;
  font-size: 90%;
}

pre > code {
  display: block;
  overflow-x: auto;
  padding: 1rem 1.5rem;
  white-space: pre;
}

@media (max-width: 560px) {
  pre > code {
    white-space: nowrap;
  }
}

.alert {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #000000;
}

.alert.alert-primary {
  border: 1px solid $primary;
  background-color: $primary;
  color: #FFFFFF;
}

.alert.alert-success {
  border: 1px solid #2ECC71;
  background-color: #2ECC71;
  color: #FFFFFF;
}

.alert.alert-danger {
  border: 1px solid #E74C3C;
  background-color: #E74C3C;
  color: #FFFFFF;
}

.table-responsive {
  overflow-x: auto;
}

.table-responsive th,
.table-responsive td {
  white-space: nowrap;
}

table {
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem 1rem;
}

th {
  text-align: left;
}

td {
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr th {
  border-bottom: 1px solid #000000;
}

@media (min-width: 560px) {
  th:first-child,
  td:first-child {
    padding-left: 1rem;
  }
}

button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

.alert {
  margin-bottom: 1rem;
}

.u-full-width {
  width: 100%;
}

.u-max-full-width {
  max-width: 100%;
}

/* Floats */

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-cf {
  display: table;
  clear: both;
  content: "";
}

/* Positioning */

.u-center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/**
 * Note:
 *
 * Nest this class inside something with `position: relative` to have
 * your element centered relative to its containing element.
 *
 * Use this class without nesting it to have your element centered relative
 * to the viewport.
 */

.u-center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* Type */

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-hide {
  border: 0;
  background-color: transparent;
  color: transparent;
  text-shadow: none;
  font: 0/0 a;
}

/* Peek a boo */

.u-hide {
  display: none !important;
}

.u-show {
  display: block !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-visible {
  visibility: visible !important;
}

/* Misc */

.u-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Misc */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

/* Clearing */

.container:after,
.row:after {
  display: table;
  clear: both;
  content: "";
}

/*****
* Media Queries
*
* Note: The best way to structure the use of media queries is to create the
* queries near the relevant code. For example, if you wanted to change the
* styles for buttons on small devices, paste the mobile query code up in the
* buttons section and style it there.
*****/

@media (min-width: 400px) {
  /* Larger than mobile */
}

@media (min-width: 560px) {
  /* Larger than phablet (also point when grid becomes active) */
}

@media (min-width: 720px) {
  /* Larger than tablet */
}

@media (min-width: 960px) {
  /* Larger than desktop */
}

@media (min-width: 1200px) {
  /* Larger than Desktop HD */
}
