@import "./../../styles/tools.scss";
@import "./character.module.scss";

.lucyAndBruce {
  .bruce {
    @extend .character;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    animation: animate(fade-in-from-right, $delay: 600ms);

    will-change: transform, opacity;
  }

  .lucy {
    @extend .character;
    position: relative;
    z-index: 2;
    animation: animate(fade-in-from-right, $delay: 640ms);

    will-change: transform, opacity;
  }
}

@keyframes fade-in-from-right {
  from {
    opacity: 0;
    transform: translateX(33px) translateZ(0);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateZ(0);
  }
}
