@import "./../../styles/tools.scss";
@import "./../../styles/animations.scss";
@import "./../../styles/typography.module.scss";

.progressMeter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-bottom: spacing(2);
  width: 100%;
  opacity: 0;

  will-change: opacity;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100px;
  text-align: left;
}

.progressTitle {
  @extend h3;
  margin-bottom: 0;
}

.icon {
  margin-right: spacing();
}

.progressBar {
  margin-bottom: spacing(2);
  path {
    transition-timing-function: ease(), ease(), ease() !important;
    transition-duration: 1000ms !important;
  }
}

.stats {
  padding: 0 spacing(2);
  width: 100%;
  dl {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    > div {
      display: flex;
      flex-direction: column-reverse;
    }
    dt,
    dd {
      margin: 0;
    }

    dt {
      will-change: transform, opacity;
    }

    dd {
      @extend h2;
      margin-bottom: spacing(1);

      will-change: transform, opacity;
    }
  }
}

.loaded {
  animation: animate(fade-in, $speed: 333ms);
  dl {
    @for $i from 0 through 10 {
      > div {
        &:nth-child(#{$i}) {
          dt {
            @include cascade($delay: $i * 100ms);
          }
          dd {
            @include cascade($delay: $i * 120ms);
          }
        }
      }
    }
  }
}

@include mobile {
  .heading {
    margin-bottom: spacing();
    padding: 0 spacing();
  }
  .progressBar {
    margin-bottom: spacing();
  }
  .progressTitle {
    margin-bottom: 0;
    font-size: font-size(6);
  }
  .stats {
    padding: 0 spacing();
    dl {
      dd {
        margin-bottom: 0;
        font-size: font-size(5);
      }
    }
  }
}

@include mobile-narrow {
  .stats {
    dl {
      dt {
        font-size: 12px;
      }
      dd {
        font-size: font-size(4);
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
