@import "./../../styles/tools.scss";
@import "./../../styles/palette.scss";

.guide-dogs {
  overflow: visible;
  background-color: $background-quaternary;
}

.bruce {
  margin-top: spacing(-13);
  margin-bottom: spacing(2);

  perspective: 1000px;

  [class="tail"] {
    transform-origin: 189px 86px;
    animation: animate(tail-wag, $speed: 1000ms, $repeat: infinite, $direction: alternate);
  }
}

.information {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-content-width;
  list-style: none;
  font-size: font-sizes(2);
  li {
    position: relative;
    padding-right: spacing(2);
    padding-left: spacing(3);
    width: 50%;
    text-align: left;
    &:before {
      position: absolute;
      left: 0;
      width: spacing(2);
      height: 100%;
      background-image: url("./../../icons/paw.svg");
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
    }
  };
}

.link {
  text-transform: uppercase;
  font-size: font-size(2);
}

@include mobile {
  .information {
    li {
      width: 100%;
    }
  }

  .bruce {
    transform: scale(0.8);
  }
}

@keyframes tail-wag {
  0% {
    transform: rotateX(10deg) rotateY(25deg);
  }
  50% {
    transform: rotateX(15deg) rotateY(-25deg);
  }
  100% {
    transform: rotateX(10deg) rotateY(25deg);
  }
}
